.swiper-slide4{
	background-color:#f8f8fa;
}
.swiper-slide4 .why{
	text-align: center; 
	font-size: 0.4em;
	margin-top: 2rem;
}
.swiper-slide4 .why>span{
	text-align: center; 
	font-size: 0.7rem;
	font-weight: 900;
}
.swiper-slide4 .swiper-slide4_top{
	width:100%;
	height: 3.96rem;
	margin-top:0.3rem;
	background: url(../img/G20.png) no-repeat;
	background-size: 100% 100%;
}
.swiper-slide4 .swiper-slide4_bottom{
	width:100%;
	height: 5.20rem;
	background: url(../img/G201.png) no-repeat;
	background-size:100%  100%;
}