.swiper-slide7{
	background: #4b392c;
	color: #ccbf8c;
}
.swiper-slide7 .swiper-slide7_main{
	margin-top:1.3rem;
}
.swiper-slide7>.swiper-slide7_main>p{
	font-family: "微软雅黑";
	font-size: 0.4rem;
	font-weight:900 ;
	width: 80%;
	margin:11px auto;
}
.swiper-slide7>.swiper-slide7_main>span{
	display: block;
	width: 80%;
	word-spacing: 10pt;
	letter-spacing:2px;
	text-align: left;
	margin:0.2rem auto;
	font-size: 0.17rem;
	line-height: 0.25rem;
}